SERVIDOR/Servidor SMATEC/WebApplication1/Service References/WSRefSMATEC/RecopiladorDatos1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecopiladorDatos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:81/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:81/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:81/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMATEC" />
      <xsd:import schemaLocation="http://localhost:81/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRecopiladorDatosRest_SetData_InputMessage">
    <wsdl:part name="parameters" element="tns:SetData" />
  </wsdl:message>
  <wsdl:message name="IRecopiladorDatosRest_SetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IRecopiladorDatosTeselador_TeselarData_InputMessage">
    <wsdl:part name="parameters" element="tns:TeselarData" />
  </wsdl:message>
  <wsdl:message name="IRecopiladorDatosTeselador_TeselarData_OutputMessage">
    <wsdl:part name="parameters" element="tns:TeselarDataResponse" />
  </wsdl:message>
  <wsdl:message name="IRecopiladorDatos_GetServiceDescriptionInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceDescriptionInfo" />
  </wsdl:message>
  <wsdl:message name="IRecopiladorDatos_GetServiceDescriptionInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceDescriptionInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRecopiladorDatos_GetLecturas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLecturas" />
  </wsdl:message>
  <wsdl:message name="IRecopiladorDatos_GetLecturas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLecturasResponse" />
  </wsdl:message>
  <wsdl:message name="IRecopiladorDatos_GetEquipos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipos" />
  </wsdl:message>
  <wsdl:message name="IRecopiladorDatos_GetEquipos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEquiposResponse" />
  </wsdl:message>
  <wsdl:message name="IRecopiladorDatos_GetCurrent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrent" />
  </wsdl:message>
  <wsdl:message name="IRecopiladorDatos_GetCurrent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentResponse" />
  </wsdl:message>
  <wsdl:portType name="IRecopiladorDatosRest">
    <wsdl:operation name="SetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecopiladorDatosRest/SetData" message="tns:IRecopiladorDatosRest_SetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecopiladorDatosRest/SetDataResponse" message="tns:IRecopiladorDatosRest_SetData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRecopiladorDatosTeselador">
    <wsdl:operation name="TeselarData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecopiladorDatosTeselador/TeselarData" message="tns:IRecopiladorDatosTeselador_TeselarData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecopiladorDatosTeselador/TeselarDataResponse" message="tns:IRecopiladorDatosTeselador_TeselarData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRecopiladorDatos">
    <wsdl:operation name="GetServiceDescriptionInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecopiladorDatos/GetServiceDescriptionInfo" message="tns:IRecopiladorDatos_GetServiceDescriptionInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecopiladorDatos/GetServiceDescriptionInfoResponse" message="tns:IRecopiladorDatos_GetServiceDescriptionInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLecturas">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecopiladorDatos/GetLecturas" message="tns:IRecopiladorDatos_GetLecturas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecopiladorDatos/GetLecturasResponse" message="tns:IRecopiladorDatos_GetLecturas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEquipos">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecopiladorDatos/GetEquipos" message="tns:IRecopiladorDatos_GetEquipos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecopiladorDatos/GetEquiposResponse" message="tns:IRecopiladorDatos_GetEquipos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrent">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecopiladorDatos/GetCurrent" message="tns:IRecopiladorDatos_GetCurrent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecopiladorDatos/GetCurrentResponse" message="tns:IRecopiladorDatos_GetCurrent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRecopiladorDatos" type="tns:IRecopiladorDatos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceDescriptionInfo">
      <soap:operation soapAction="http://tempuri.org/IRecopiladorDatos/GetServiceDescriptionInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLecturas">
      <soap:operation soapAction="http://tempuri.org/IRecopiladorDatos/GetLecturas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEquipos">
      <soap:operation soapAction="http://tempuri.org/IRecopiladorDatos/GetEquipos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrent">
      <soap:operation soapAction="http://tempuri.org/IRecopiladorDatos/GetCurrent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecopiladorDatos">
    <wsdl:port name="BasicHttpBinding_IRecopiladorDatos" binding="tns:BasicHttpBinding_IRecopiladorDatos">
      <soap:address location="http://localhost:81/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>