SERVIDOR/Servidor SMATEC/WebApplication1/Service References/WSRefSMATEC/Service142.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:81/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMATEC" />
  <xs:import schemaLocation="http://localhost:81/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CadenaLectura" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeselarData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TeselarDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceDescriptionInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceDescriptionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServiceDescriptionInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEquipo" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMATEC" minOccurs="0" name="Periodicidad" type="q1:Periodicidad" />
        <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLecturasResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquiposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMATEC" minOccurs="0" name="GetEquiposResult" nillable="true" type="q3:ArrayOfDescripcionEquipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCurrentResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>